<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>OpenFoodBase</title>
</head>
<body>
    <object data="logo.svg" type="image/svg+xml" width="600" height="200">
        <img src="logo.png" width="600" height="200" alt="OpenFoodBase">
    </object>
    <p>More Information on <a href="https://github.com/GatCode/OpenFoodBase">GitHub</a></p>
</body>
</html>